.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333; 
  color: #fff;
}

.left {
  display: flex;
}

.button {
  margin-right: 10px;
}

.right {
  order: 1;
  
  display: flex;
}

.logo {
  max-width: 100px; 
}

/*------------------POPUP I FORM ZA LOGIN I REGISTER CSS-------------------*/
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Adds a dimming effect */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000; /* Ensures the popup is on top of other content */
  }
  
  .popup-content {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    color: #333;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #333;
  }
  
form {
  border: 3px solid #f1f1f1;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
.login-button,.signupbtn {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
.headerBTN1 { 
  background-color: transparent;
  color: white;
  border: none;
  margin: 5px;
  padding: 0;
  width: calc(100% - 10px); /* subtracting 2 * 5px for left and right margins */
  height: calc(100% - 10px); /* subtracting 2 * 5px for top and bottom margins */
  transition: border-color 0.3s ease; /* transition effect for border color */
}
.headerBTN1.onHover

button:hover {
  opacity: 0.8;
}


/* Add padding to containers */
.container {
  padding: 16px;
}